body {
	background-color: #f26971;
}

.pizza-order,
.pizza-orderlist {
	height: 100vh;
	position: relative;
}

.pizza-orderlist,
.view-cart,
.error-modal,
.checkout-modal {
	display: none;
}
.form-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(41, 40, 40, 0.301);
}

.left-col {
	background: linear-gradient(
		180deg,
		rgba(242, 105, 113, 0.84) 6.25%,
		rgba(242, 105, 113, 0) 100%
	);
	border-radius: 10px 4px 4px 4px;
}

.left-col-img img {
	margin-left: 40px;
	border-radius: 3px;
	padding-bottom: 40px;
}

.steps-number {
	position: relative;
	background-color: #f26969;
	text-align: center;
	padding: 5px 9px;
	color: #fff;
	border-radius: 50%;
	font-weight: bold;
}
.steps-text {
	font-size: 18px;
}
label,
input {
	cursor: pointer;
}

select.form-control {
	background-color: #f26969;
	color: #fff;
}

input[type="checkbox"] {
	background-color: #f26969;
}

.order-summary {
	background: linear-gradient(
		180deg,
		rgba(242, 105, 113, 0.84) 6.25%,
		rgba(242, 105, 113, 0.3) 100%
	);
}

.order-item td {
	font-size: 12px;
}

/* Error Modal Start */

.checkout-modal {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../images/pizza-dark-bg.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
}
.error-overlay,
.checkout-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.397);
	height: 100%;
	width: 100%;
	z-index: 3;
}

.error-container,
.checkout-container,
.feedback-container {
	background-color: #f26972ce;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
	border-radius: 4px;
	height: 90px;
	line-height: 45px;
	top: 0;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translate(-50%, 0);
	width: 30em;
	z-index: 5;
}
.close-error {
	background-color: #fff;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-weight: bold;
	position: inherit;
	right: 0;
	margin: 3px 3px 0 0;
}

.error {
	padding: 20px 20px;
	font-size: 18px;
}

.close-error:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.568);
	color: #f26969;
	cursor: pointer;
	transition: all 0.2s;
}

.checkout-container,
.feedback-container {
	height: fit-content;
	top: 10%;
	cursor: text;
	color: #fff;
	line-height: 3em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
	display: none;
	z-index: 2;
}

.checkout-overlay {
	z-index: 1;
}

.checkout-container input {
	cursor: text;
}
/* Error Modal End */
