body {
	background-color: #f26971;
}

.pizza-order,
.pizza-orderlist {
	height: 100vh;
	position: relative;
}
.form-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(41, 40, 40, 0.301);
}

.left-col {
	background: linear-gradient(
		180deg,
		rgba(242, 105, 113, 0.84) 6.25%,
		rgba(242, 105, 113, 0) 100%
	);
	border-radius: 10px 4px 4px 4px;
}

.left-col-img img {
	margin-left: 40px;
	border-radius: 3px;
	padding-bottom: 40px;
}

.steps-number {
	position: relative;
	background-color: #f26969;
	text-align: center;
	padding: 5px 9px;
	color: #fff;
	border-radius: 50%;
	font-weight: bold;
}
.steps-text {
	font-size: 18px;
}
label,
input {
	cursor: pointer;
}

select.form-control {
	background-color: #f26969;
	color: #fff;
}

input[type="checkbox"] {
	background-color: #f26969;
}

.order-summary {
	background: linear-gradient(
		180deg,
		rgba(242, 105, 113, 0.84) 6.25%,
		rgba(242, 105, 113, 0.3) 100%
	);
}

/* Error Modal Start */
.error-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.397);
	z-index: 1;
	height: 100%;
	width: 100%;
}

.error-container {
	background-color: #f26972ce;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
	border-radius: 4px;
	height: 60px;
	line-height: 60px;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translate(-50%, 0);
	width: 25em;
	z-index: 2;
}
.close-error {
	background-color: #fff;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-weight: bold;
	position: inherit;
	right: 0;
	margin: 3px 3px 0 0;
}

.close-error:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.568);
  color: #f26969;
  cursor: pointer;
  transition: all 0.2s;
}

/* Error Modal End */
